body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: rgb(242, 186, 129, .1);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}


.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: rgb(242, 186, 129, .2);
  color: #000000;
  border-top: 1px dashed #000000;
  border-top-left-radius: 15px;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #f4bcb8;
  color: black;
}

.future {
  background-color: #dce4d1;
  color: black;
}

.saveBtn {
  display: block;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #4f9694;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.close {
  border-left: 1px solid black;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top: none;
  border-right: none;
  border-bottom: none;
  background-color: #235877;
  color: white;
}

.close span {
  font-size: 25px
}

.close span:hover {
  color: black;
  font-size: 35px;
  transition: all 0.3s ease-in-out;
}

.btn-secondary {
  border: none;
  background-color: darkgray;
}

.btn-secondary:hover {
  font-size: 150%;
}

#currentDay {
  font-size: 150%;
  font-weight: bolder;
  text-shadow: 2px 2px 3px darkgray;
}